In [1]:
import os
import pymysql
import sqlalchemy
import pandas as pd

In [2]:
# Class for connecting to a MySQL database
class Database_connect:
    
    # Initialize the class with password and database name
    def __init__(self, password: str, database: str):
        self.password = password
        self.database_name = database

    # Method to try establishing a database connection
    def try_connection(self):
        try:
            # Create SQLAlchemy engine and establish a connection
            self.engine = sqlalchemy.create_engine(
                f'mysql+pymysql://root:{self.password}@localhost:3306/{self.database_name}')
            self.conn = pymysql.connect(
                host='localhost',
                user='root',
                password=self.password,
                db=self.database_name,
            )

            # Return cursor if connection is successful
            print('successful!!')
            return self.conn.cursor()
        except:
            return None
    
    # Method to read an entire table into a pandas DataFrame
    def read_table(self, table_name: str):
        try:
            if self.engine is None:
                raise ValueError("Database connection not established. Call try_connection() first.")
            query = f"SELECT * FROM {table_name};"
            return pd.read_sql(query, self.engine)
        except Exception as e:
            return e

In [ ]:
dc = Database_connect(password='vasu',database='employees')
data = dc.read_table(table_name='projects')